menu "Device Scale Configuration"
    config DEVICE_MAX_VALVES
        int "Maximum Number of Valves"
        default 6
        range 1 16
        help
            Defines the allocation capacity for the runtime valve array tracking matrices.

    config DYNAMIC_VALVE_GPIO_LIST
            string "Comma-separated list of Valve GPIOs"
            default "4,5,6,7,8,9"
            help
                Enter a comma-separated list of exactly 6 GPIO pin numbers for your valves.
                Example: "4,5,6,7,8,9" or "2,4,12,13,14,15". No spaces allowed.

    config DEVICE_MAX_VALVE_CONFIG
        int "Maximum single valve setups"
        default 4
        help
            The maximum number of setups a valve can handle.
endmenu

menu "Wifi Configuration"
    config DEVICE_DEFAULT_WPK_PASSWORD
        string "Configuration mode device password"
        default "56784321"
        help
            Set the configuration-mode device password

    config DEVICE_IP_DEFAULT_GATEWAY
        string "Configuration mode gateway"
        default "192.168.3.1"
        help
            Set the configuration-mode device IP & Gateway

    config DEVICE_IP_DEFAULT_MASK
        string "Configuration mode mask"
        default "255.255.255.0"
        help
            Set the configuration-mode device mast

    config DEVICE_DEFAULT_UNIQUE_SSID
        string "If empty use mac_address"
        default ""
        help
            Enable to append something to Irrigate prefix (Max:24).

    config DEVICE_MAX_DEFAULT_UNIQUE_SSID
        int
        default 24
        help
            Internal max length limit for DEVICE_DEFAULT_UNIQUE_SSID (excluding null terminator).

endmenu
