menu "WiFi STA Configuration"

    config DEVICE_MAX_VALVES
        int "WiFi SSID"
        default 6
        help
            The SSID for the WiFi network the device will connect to.

    config DEVICE_MAX_VALVES_CONFIG
        int "WiFi SSID"
        default 4
        help
            The SSID for the WiFi network the device will connect to.

endmenu
